<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/toppage.css}">
<script
	th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" src="js/header.js"></script>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>応募完了</title>
</head>
<body>
	<div id="header"></div>
	<main class="container">
		<p th:text=${message}></p>
		<a href="/" class="btn btn-primary">トップに戻る</a>
	</main>
</body>
</html>