<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/toppage.css}">
<script	th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>応募完了</title>
</head>
<body>
	<header class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="/">応募管理</a>
	</header>
	<br>
	<main class="container">
		<p >応募完了しました</p>
		<a href="/" class="">トップに戻る</a>
	</main>
</body>
</html>